.footer {
    background-color: var(--clr-grey-2); 
    color: #e0e0e0;   
}

.footer h3 {
    font-size: 20px;
}

.footer-container {
    padding: 80px 0px;
}

.footer-container img {
    max-width: 200px;
}

.footer-container ul {
    padding: 0;
    margin: 0;
}

.footer-container ul li {
    margin-bottom: 5px;
}

.copyright {
    background-color: var(--clr-grey-3);
}

@media screen and (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
}