.services {    
    height: 60vh;
    z-index: 2;
    position: relative;
}

.row {
    gap: 50px;
    flex-wrap: nowrap;
}

.paragraph {
    color: #f9f9f9;
    max-width: 450px;
    margin-top: 30px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media screen and (max-width: 992px) {
    .services {
        height: auto;
    }

    .row {
        flex-wrap: wrap;
        gap: unset;
    }
}