.card {
    width: 100%;
    padding: 0;
    border-radius: 5px;
    box-shadow: var(--light-shadow);    
}

.card img {
    border-radius: 10px 10px 0px 0px;
}

.title::before {
    bottom: -10px;
    width: 20px;
    background-color: var(--clr-primary-6);
}

.btn {
    background-color: var(--clr-primary-2);
    border-color: var(--clr-primary-2);
    padding: 10px 20px;    
}

.btn:hover {
    background-color: var(--clr-primary-3);
    border-color: var(--clr-primary-3);
}