.section {
    background-color: var(--clr-grey-4);
    padding-top: 100px;
}

.container {
    border-top: 1px solid var(--clr-grey-5);
}

.image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.swiper-container {
}

.mySwiper {

}