.number-row {
    background-color: var(--clr-grey-8);
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: var(--light-shadow);
    margin-top: -40px;
}

.count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number-title {
    font-size: 18px;
}